body {
    margin: 0;
}

body,
.p-toast {
    zoom: .85;
}

.p-datatable .p-datatable-tbody > tr > td,
.p-datatable .p-datatable-thead > tr > th {
    padding: .5rem  !important;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content {
    padding: 0 !important;
}
